\venv
Docker-compose/airflow-docker/dags/__pycache__/our_first_dag.cpython-37.pyc
Docker-compose/airflow-docker/logs/dag_id=our_first_dag/run_id=manual__2023-04-25T131556.755125+0000/task_id=first_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v2/run_id=manual__2023-04-25T132156.142711+0000/task_id=first_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v2/run_id=manual__2023-04-25T132156.142711+0000/task_id=second_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v3/run_id=manual__2023-04-25T132408.097891+0000/task_id=first_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v3/run_id=manual__2023-04-25T132408.097891+0000/task_id=second_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v3/run_id=manual__2023-04-25T132408.097891+0000/task_id=third_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v5/run_id=manual__2023-04-25T132916.661628+0000/task_id=first_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v5/run_id=manual__2023-04-25T132916.661628+0000/task_id=second_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v5/run_id=manual__2023-04-25T132916.661628+0000/task_id=second_task/attempt=2.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v5/run_id=manual__2023-04-25T132916.661628+0000/task_id=third_task/attempt=1.log
Docker-compose/airflow-docker/logs/dag_id=our_first_dag_v5/run_id=manual__2023-04-25T132916.661628+0000/task_id=third_task/attempt=2.log
Docker-compose/airflow-docker/logs/dag_processor_manager/dag_processor_manager.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_bash_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_datetime_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_day_of_week_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_labels.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_operator_decorator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_complex.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_dag_decorator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_datasets.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_dynamic_task_mapping.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_external_task_marker_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_kubernetes_executor.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_latest_only.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_latest_only_with_trigger.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_local_kubernetes_executor.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_nested_branch_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_params_ui_tutorial.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_passing_params_via_test_command.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_python_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_sensor_decorator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_sensors.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_short_circuit_decorator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_short_circuit_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_skip_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_sla_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_subdag_operator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_task_group.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_task_group_decorator.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_time_delta_sensor_async.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_trigger_controller_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_trigger_target_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_xcom.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/example_xcomargs.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/plugins/event_listener.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/plugins/listener_plugin.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/plugins/workday.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/subdags/subdag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/tutorial.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/tutorial_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/tutorial_taskflow_api.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
Docker-compose/airflow-docker/logs/scheduler/2023-04-25/our_first_dag.py.log
Docker-compose/airflow-docker/logs/scheduler/latest
.env
Docker-compose
venv
Unsupervised-learning/Unsupervised-learning-1.1.mov
Unsupervised-learning/Unsupervised-learning-1.2.mov
Unsupervised-learning/Unsupervised-learning-1.3.mov
Unsupervised-learning/Unsupervised-learning-1.4.mov
Unsupervised-learning/Unsupervised-learning-2.1.mov
Unsupervised-learning/Unsupervised-learning-2.2.mov
Unsupervised-learning/Unsupervised-learning-2.3.mov
Unsupervised-learning/Unsupervised-learning-2.4.mov
/Uppgifter/ImageRecognition/images/

*.txt
